.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  width: 100%;
  box-sizing: border-box;

  @media screen and (min-width: 480px) {
    justify-content: flex-end;
  }
}
